@import "tailwindcss";

@theme {
    --color-header-bg: #f2f5f3;
    --color-body-bg: #fff;
    --color-footer-bg: #403f3d;
    --color-text-default: #1a1918;
}

@font-face {
    font-family: 'Spartan Medium';
    src: url('./assets/fonts/SpartanMedium500.ttf');
}

@font-face {
    font-family: 'Spartan Bold';
    src: url('./assets/fonts/SpartanBold700.ttf');
}

a {
    font-weight: 500;
    color: var(--color-text-default);
    text-decoration: inherit;
    transition: all 0.3s ease;
}
a:hover {
    opacity: 0.4;
}

body {
    position: relative;
    margin: 0;
    display: flex;
    place-items: flex-start;
    width: 100%;
    min-width: 320px;
    min-height: 100vh;
    font-family: 'Spartan Medium', 'sans-serif';
    background-color: var(--color-body-bg);

    @media (max-width: 335px) {
        min-width: 305px;
    }
}

#root {
    width: 100%;
}

h1 {
    font-family: 'Spartan Bold', 'sans-serif';
    font-size: 32px;
    line-height: 1.1;

    @media (max-width: 767px) {
        font-size: 20px;
        line-height: 22px;
    }
}

button {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: var(--bodyColor);
    cursor: pointer;
    transition: border-color 0.25s;
}
button:hover {
    border-color: #646cff;
}
button:focus,
button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
}